<div class="accordion accordion-flush" id="templateAccordion">
  <div class="accordion-item" style="border: none;">
    <h2 class="accordion-header" id="templateHeadingOne">
      <button class="accordion-button bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#templateCollapseOne" aria-expanded="true" aria-controls="templateCollapseOne" style="box-shadow: none; border-color: rgba(0,0,0,.125);">
        Item details
      </button>
    </h2>
    <div id="templateCollapseOne" class="accordion-collapse collapse show" aria-labelledby="templateHeadingOne" data-bs-parent="#templateAccordion">
      <div class="accordion-body">
      <div class="d-flex justify-content-start small text-muted">
        <i class="bi bi-cloud-arrow-down-fill fs-5"></i>
        <p class="ps-2 pt-1">Digital download</p>
      </div>
      </div>
    </div>
  </div>
  <div class="accordion-item" style="border: none;">
    <h2 class="accordion-header" id="templateHeadingTwo">
      <button class="accordion-button collapsed bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#templateCollapseTwo" aria-expanded="false" aria-controls="templateCollapseTwo" style="box-shadow: none; border-color: rgba(0,0,0,.125);">
        Delivery
      </button>
    </h2>
    <div id="templateCollapseTwo" class="accordion-collapse collapse" aria-labelledby="templateHeadingTwo" data-bs-parent="#templateAccordion">
      <div class="accordion-body">
        <strong>This is the second template section's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
