
<div data-controller="stripe-checkout" data-stripe-checkout-publishable-key-value="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
    data-stripe-checkout-url-value="<%= checkouts_path %>">
</div>

<div id="checkout-spinner" class="d-flex justify-content-center d-none position-absolute top-50 start-50 translate-middle">
  <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
