<h1>Your resume template is ready</h1>
<p>Hi <%= @user[:email] %>,</p>
<p>Thank you for choosing our resume template service. You can download your template from the link below.</p>
<p><a href="<%= download_template_url(@template.attachment) %>">Download your resume template</a></p>
<p>If you have any questions, please contact us.</p>
